<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite">

  <listeners>
   <listener class-name = "extentReportListener.ExtentReporterNG"/>
   <listener class-name = "TestNGCustomReportListener.TestNGCustomReportListener"/>
   </listeners>
   
	<test name=" Test Cases">
	
	 
	
		<classes>
	
	   <!--     Script for Jira Tickets LP-4269 Verify Email in Mailinator_Broker     -->
	
	        <class name="testcases.BrokerRegisterTest"></class>
			<class name="testcases.BrokerOutlookTest"></class>
			<class name="testcases.AdminBrokerTest"></class>
			<class name="testcases.BrokerLoginTest"></class>
			
			
			
		<!--   Script for Jira Tickets LP-4270 Verify Email in Mailinator_Carrier     -->
	
		 	<class name="testcases.CarrierRegisterTest"></class>
			<class name="testcases.CariierOutlookTest"></class>
			<class name="testcases.AdminCarrierTest"></class>
		 	<class name="testcases.CarrierLoginTest"></class>
		 	<class name="testcases.CarrierNotificationTest"></class>
			
			
			
		<!-- Script for Jira Tickets LP-3474 & LP-5413  CarrierWireTransferTest & CarrierPayMeNowTabTest-->
		 	
	<!-- 	 	<class name="testcases.BrokerNewPaymentTest"></class>
		 	<class name="testcases.CarrierWireTransferTest"></class>
		 	<class name="testcases.CarrierPayMeNowTabTest"></class>
		 	 -->
				
			<!--      Script for Jira Tickets LP-5421 UnmatchedCarrier-SAMEDAYACH       -->
		 	<class name="testcases.BrokerPaymentforUnmatchedCarrierTest"></class>
		 	<class name="testcases.UnmatchedCarrierOutlooksameDayTest"></class>
		 	<class name="testcases.UnmatchedCariierEmailVerifyTest"></class>
		 	<class name="testcases.UnmatchedCarrierAdminSameDayTest"></class>
		 	<class name="testcases.CarrierFirstLoginSameDayTest"></class>
		 	<class name="testcases.UnmatchedCarrierSameDayACHTest"></class>
			
		<!--     Script for Jira Tickets LP-5419 UnmatchedCarrier-WIRETRASFER      -->
		
		   
		 	<class name="testcases.UnmatchedCarrierOutlookTest"></class>
		 	<class name="testcases.UnmatchedCariierEmailVerifyWiretRansferTest"></class>
		 	<class name="testcases.UnmatchedCarrierAdminTest"></class>
		 	<class name="testcases.CarrierFirstLoginTest"></class>
		 	<class name="testcases.UnmatchedCarrierWireTransferTest"></class>
		 	
	
			
			
	<!-- 		<class name="testcases.BrokerPaymentforUnmatchedCarrierTest"></class>
			<class name="testcases.UnmatchedCarrierOutlookNextDayTest"></class>
			<class name="testcases.UnmatchedCariierEmailVerifyNextDayTest"></class>
			<class name="testcases.UnmatchedCarrierAdminNextDayTest"></class>
			<class name="testcases.CarrierFirstLoginNextDayACHTest"></class>
			<class name="testcases.UnmatchedCarrierNextDayACHTest"></class> -->
			
			
			
			
			
			<!--    Script for Jira Tickets LP-5411 & LP-5417 CarrierSameDayACHTest &  CarrierNextDayACHTest     -->
		
		<!-- 	<class name="testcases.BrokerNewPaymentTest"></class>
		 	<class name="testcases.CarrierSameDayACHTest"></class>
		 	<class name="testcases.CarrierNextDAYACHTest"></class> -->
		 	
		 	
		 
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 	
		 		<!-- <class name="testcases.CarrierWireTransferTest"></class> -->
		<!--  <class name="testcases.CarrierSameDayACHTest"></class> -->
		
		
		
		
		
		 	
		 
		 	
		 	
		 	
		 	
		 	 
		 	  <!-- <class name="testcases.BrokerNewPaymentTest"></class> -->
		 	
	
	
	        <!-- <class name="testcases.BrokerLoginTest"></class>
			<class name="testcases.BrokerNewPaymentTest"></class>
			<class name="testcases.BrokerRegisterTest"></class>
		    <class name="testcases.CarrierLoginTest"></class>
			<class name="testcases.CarrierNotificationTest"></class>
	        <class name="testcases.CarrierRegisterTest"></class>
	        <class name="testcases.OutlookTest"></class>
	        
	        <class name="testcases.BrokerLoginTest"></class>
	        
	        
	         
	        <class name="testcases.CarrierRegisterTest"></class>
	        
	        <class name="testcases.outlooklogintest"/>
	        
	        <class name="testcases.BrokerRegisterTest"></class>
	        <class name="testcases.OutlookTest"/> -->
		</classes>
	</test>
</suite>
